<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/login.css}">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<title>ログイン</title>
</head>
<body class="bg-light">
	<div class="text-center">

		<form method="post" th:action="@{/login}" class="form-login">
			<p th:if="${param.error}" class="error">ユーザー名またはパスワードが違います。</p>

			<h2>ログイン</h2>
			<!-- ユーザーID -->
			<div class="form-group">
				<label for="userId" class="visually-hidden">userId</label> <input
					type="text" class="form-control" placeholder="ユーザーID" name="userId">
			</div>
			<br />

			<!-- パスワード -->
			<div class="form-group">
				<label for="password" class="visually-hidden">password</label> <input
					type="text" class="form-control" placeholder="パスワード"
					name="password" />
			</div>
			<br /> <input type="submit" value="ログイン" class="btn btn-dark">
		</form>
		<a th:href="@{/signup}">新規登録はこちら</a>
	</div>
</body>
</html>